@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*---------*/
:root {
 /* Fonts*/
    --f-heading-xl: normal clamp(3rem, 5vh ,4rem) "Hedvig Letters Serif", serif;
    --f-heading-lg: normal 2em "Hedvig Letters Serif", serif;
    --f-heading-md: normal 1.5em "Hedvig Letters Serif", serif;
    --f-heading-sm: 500 1.1875em "Instrument Sans", sans-serif;
    --f-body: normal .9375rem "Instrument Sans", sans-serif;
    --f-link: 500 .9375rem "Instrument Sans", sans-serif;
 /*Colors*/
    --c-text:#1F1F1F;
    --c-light: #F3F3F3;
    --c-primary:#4391F0;
 /*spacings*/
    --s-xl:4rem;
    --s-lg: 3rem;
    --s-md:2rem;
    --s-sm:1rem;
    --s-xs:0.5rem;

 /*Size*/
 --mw-lg:60.25rem;

 /*raduis*/
 --r-xl:6rem;
 --r-sm:.3125rem;


 /*elements*/
}
.text--xl{
    font: var(--f-heading-xl);
}
.text--lg{
    font: var(--f-heading-lg);
}
.text--md{
    font: var(--f-heading-md);
}
.text--sm{
    font: var(--f-heading-sm);
}

body, p{
    font: var(--f-body);
    background-color: #c69c6d;
}
.link{
    font: var(--f-link);

}
.btn{
    font: var(--f-link);
    background-color: var(--c-text);
    color: var(--c-light);
    padding: var(--s-xs) var(--s-md);
    border-radius: var(--r-xl);
}
.btn--light{
    background-color: var(--c-light);
    color: var(--c-text);
}
.btn--black{
    background-color: var(--c-text);
    color: var(--c-light);
}
.section{
    padding: var(--s-xl) var(--s-sm);

}
.container{
    max-width: var(--mw-lg);
    margin: auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--s-sm);
    gap: var(--r-sm);
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--s-sm);
    gap: var(--s-sm);
}

.text-block{
    justify-content: center;
    align-items: start;
    gap: var(--s-sm);
    & div {
        
    }
    & img{
        
    }
}
/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--s-md);
    margin: auto ;

    & .logo{
    max-width: 6.25rem;

    }
    & nav{
        & ul{
            display: flex;
            gap: var(--s-sm);

            & li{

            }
        }
    }

}
/*/hedaer*/
/*banner*/
.banner{
    color: var(--c-light);
    padding: 0 var(--s-xs);
    
    & .banner__background{
        background: url('../assets/img/home-banner.webp');
        background-position:center ;
        background-repeat:no-repeat ;
        background-size:cover ;
        min-height: 80vh;
        border-radius: var(--r-sm);
        display: flex;
        justify-content: center;
        align-items: center;
        /* o podemos poner un dispaly colmn y un align item stretsh*/
        & .banner__block{
            width: 100%;
            }
            
        }
     }

     /*section hero*/

.hero{
 & .container__hero {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: var(--s-xl);
    max-width: var(--mw-lg);

   & .img__hero{
    flex: 1 0 200px;
    border-radius: var(--r-sm);

 } 
   & .hero__content{

    flex: 1 0 200px;
    
   }

}
}


/*/section hero*/
/*grid*/
.section__grid {
    
    & .grid__block{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       grid-template-rows: auto;
       & .grid__block__block{
        padding: var(--s-sm);
        &.area1{
            grid-area: 1/1/2/5;
        }
        &.area1{
            grid-area: 1/1/2/5;
        }
        &.area2{
            grid-area: 2/1/3/3;
        }
        &.area3{
            grid-area: 2/3/3/5;
        }
       }

    }

}
.prices{
    & .container__prices{
        justify-content: space-between;
        
        gap:var(--s-sm);
        & .prices__content{
            border-radius: var(--r-sm);
            text-align: center;
            padding: var(--s-lg);
            width: 100%;
            & 

    
            &.light{
                background-color:var(--c-light);

            }
            &.black{
                background-color:var(--c-text);
                color: var(--c-light);  



            }

        }
    }
}





                



